/* font */
@import url('./font.css');

/* tailwind basic setting */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
}

html, body, #__next, .layout {
    height: 100%;
    overflow: hidden;
}

html {background-color: antiquewhite}
.page {background-color: aquamarine}

/* Hide scrollbar for Chrome, Safari and Opera && IE, Edge and Firefox */
.page::-webkit-scrollbar, .layout::-webkit-scrollbar, .search::-webkit-scrollbar{
    display: none;
}
.page, .search {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* find ways to avoid global css like this */
.page {
    height: 100%;
    overflow: scroll;
    margin: 0 20px;
}


