/* font */
@import url('./font.css');

* {
    font-family: 'Inter', sans-serif;
}

/* tailwind basic setting */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* layout */
html, body, #__next, .layout, .page {
    height: 100%;
    width: 100%;
}
.layout {
    padding-top: 60px;
}
.page {
    position: relative;
    display: flex;
    scrollbar-gutter: stable;
    overflow-y: scroll;
}

/* layout responsive */
/* timeline, information */
@media (min-width: 0px) and (max-width: 928px) {
    .timelinePage, .informationPage, .informationHeader {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
}
@media (min-width: 928px) and (max-width: 1125px) {
    .timelinePage, .informationPage, .informationHeader {
        flex-direction: row;
        justify-content: center;
    }
}
@media (min-width: 1125px) {
    .timelinePage, .informationPage, .informationHeader {
        justify-content: start;
        padding-left: 125px;
    }
}

/* event */
@media (min-width: 0px) and (max-width: 850px) {
    .indexPage, .eventPage {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
}
@media (min-width: 850px) {
    .indexPage, .eventPage {
        justify-content: start;
        padding-left: 125px;
    }
    .tagWrapper {
        padding-left: 141px;
        padding-right: calc(100vw - 721px)
    }
}

/* index */
.tagBar::-webkit-scrollbar {
    display: none;
}
.tagBar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* timeline */
/* Hide scrollbar for Chrome, Safari and Opera */
.relatedSwiper::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.relatedSwiper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}