/* tailwind basic setting */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera && IE, Edge and Firefox */
.index::-webkit-scrollbar {
    display: none;
}
.index {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

