/* refactoring: clear */

/* font */
@import url('./font.css');

* {
    font-family: 'Inter', sans-serif;
}

/* tailwind basic setting */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* layout */
html, body, #__next, .layout, .page {
    width: 100%;
}
html {
    height: 100%;
    scrollbar-gutter: stable;
    overflow-y: scroll;
}
.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

/* layout responsive */
@media (min-width: 670px) {
    .timelinePage, .eventPage {
        align-items: center;
    }
    .timelineInformationHeader {
        align-items: center;
    }
}
@media (min-width: 850px) {
    .timelinePage, .eventPage {
        align-items: start;
        padding-left: 125px;
    }
    .timelineInformationHeader {
        align-items: start;
        padding-left: 125px;
    }
}
@media (min-width: 996px) {
    .indexPage {
        align-items: center;
    }
}
@media (min-width: 1125px) {
    .indexPage {
        align-items: start;
        padding-left: 129px;
    }
}

/*Hide scrollbar for Chrome, Safari and Opera && IE, Edge and Firefox*/
/*.page::-webkit-scrollbar, .layout::-webkit-scrollbar, .search::-webkit-scrollbar{*/
/*    display: none;*/
/*}*/

/*.page, .search {*/
/*    -ms-overflow-style: none;  !* IE and Edge *!*/
/*    scrollbar-width: none;  !* Firefox *!*/
/*}*/

/* series */
.hideScrollbar::-webkit-scrollbar {
    visibility: hidden;
}

/* series responsive */
@media (min-width: 0px) and (max-width: 369px) {
    .swiperCard {
        width: 140px;
        padding-top: 140px;
    }
}
@media (min-width: 369px) and (max-width: 455px) {
    .swiperCard {
        width: calc((100% - 48px)/2.15);
        padding-top: calc((100% - 48px)/2.15);
    }
}
@media (min-width: 455px) and (max-width: 525px) {
    .swiperCard {
        width: 180px;
        padding-top: 180px;
    }
}
@media (min-width: 525px) and (max-width: 651px) {
    .swiperCard {
        width: calc((100% - 64px)/3.15);
        padding-top: calc((100% - 64px)/3.15);
    }
}
@media (min-width: 651px) and (max-width: 681px) {
    .swiperCard {
        width: 180px;
        padding-top: 180px;
    }
}
@media (min-width: 681px) and (max-width: 847px) {
    .swiperCard {
        width: calc((100% - 80px)/4.15);
        padding-top: calc((100% - 80px)/4.15);
    }
}
@media (min-width: 847px) {
    .swiperCard {
        width: 180px;
        padding-top: 180px;
    }
}
